@import url('https://fonts.googleapis.com/css?family=Anton|Oswald');

body {
    text-align: right;
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
}

button {
    font-size: 25px;
    background: rgb(211, 211, 211);
    border-radius: 4px;
    border-width: 2px;
    border-style: none;
    border-image: none;
    cursor: pointer;
    outline: none;
}

button:active {
    font-size: 26px;
}

.operator {
    background: orange;
}

.container {
    width: 400px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 3px;
    grid-row-gap: 3px;
}

.displaycont {
    height: 120px;
    grid-column: 1 / 5;
    grid-row: 1 / 2;
    background: rgb(59, 59, 59);
    border-radius:2%;
}

.frame {
    
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.display {
    width: 100%;
    height: 80%;
    font-size: 50px;
    padding-right: 20px;
    color: azure;
}

.little-disp {
    width:100%;
    height: 20%;
    font-size: 15px;
    padding-right: 20px;
    color: rgb(132, 132, 133);
}

#clear {
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.zero {
    grid-column: 1 / 3;

}


